# [作業目標]
- 使用 Day 17 剛學到的方法, 對較完整的資料生成離散化特徵
- 觀察上述離散化特徵, 對於目標值的預測有沒有幫助

# [作業重點]
- 仿照 Day 17 的語法, 將年齡資料 ('DAYS_BIRTH' 除以 365) 離散化
- 繪製上述的 "離散化標籤" 與目標值 ('TARGET') 的長條圖

In [1]:
# 載入需要的套件
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# 設定 data_path
dir_data = './Part01/'

### 之前做過的處理

In [2]:
# 讀取資料檔
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)
app_train.shape

(307511, 122)

In [3]:
# 將只有兩種值的類別型欄位, 做 Label Encoder, 計算相關係數時讓這些欄位可以被包含在內
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

# 檢查每一個 column
for col in app_train:
    if app_train[col].dtype == 'object':
        # 如果只有兩種值的類別型欄位
        if len(list(app_train[col].unique())) <= 2:
            # 就做 Label Encoder, 以加入相關係數檢查
            app_train[col] = le.fit_transform(app_train[col])            
print(app_train.shape)
app_train.head()

(307511, 122)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,M,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,F,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,M,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,F,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,M,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# 受雇日數為異常值的資料, 另外設一個欄位記錄, 並將異常的日數轉成空值 (np.nan)
app_train['DAYS_EMPLOYED_ANOM'] = app_train["DAYS_EMPLOYED"] == 365243
app_train['DAYS_EMPLOYED'].replace({365243: np.nan}, inplace = True)

# 出生日數 (DAYS_BIRTH) 取絕對值 
app_train['DAYS_BIRTH'] = abs(app_train['DAYS_BIRTH'])

## 練習時間
參考 Day 17 範例程式，離散化你覺得有興趣的欄位，並嘗試找出有趣的訊息

In [9]:
app_train["AMT_GOODS_PRICE"]=pd.cut(app_train["AMT_GOODS_PRICE"],10)

TypeError: unorderable types: Interval() <= float()

In [8]:
app_train["AMT_GOODS_PRICE"]

0            (36490.5, 441450.0]
1          (842400.0, 1243350.0]
2            (36490.5, 441450.0]
3            (36490.5, 441450.0]
4           (441450.0, 842400.0]
5           (441450.0, 842400.0]
6         (1243350.0, 1644300.0]
7         (1243350.0, 1644300.0]
8          (842400.0, 1243350.0]
9            (36490.5, 441450.0]
10          (441450.0, 842400.0]
11           (36490.5, 441450.0]
12           (36490.5, 441450.0]
13          (441450.0, 842400.0]
14          (441450.0, 842400.0]
15           (36490.5, 441450.0]
16           (36490.5, 441450.0]
17           (36490.5, 441450.0]
18           (36490.5, 441450.0]
19          (441450.0, 842400.0]
20           (36490.5, 441450.0]
21         (842400.0, 1243350.0]
22          (441450.0, 842400.0]
23           (36490.5, 441450.0]
24           (36490.5, 441450.0]
25           (36490.5, 441450.0]
26          (441450.0, 842400.0]
27           (36490.5, 441450.0]
28          (441450.0, 842400.0]
29           (36490.5, 441450.0]
                   ...
307481       (36490.5, 441450.0]
307482      (441450.0, 842400.0]
307483       (36490.5, 441450.0]
307484      (441450.0, 842400.0]
307485       (36490.5, 441450.0]
307486       (36490.5, 441450.0]
307487     (842400.0, 1243350.0]
307488       (36490.5, 441450.0]
307489      (441450.0, 842400.0]
307490       (36490.5, 441450.0]
307491     (842400.0, 1243350.0]
307492    (1243350.0, 1644300.0]
307493      (441450.0, 842400.0]
307494      (441450.0, 842400.0]
307495      (441450.0, 842400.0]
307496       (36490.5, 441450.0]
307497       (36490.5, 441450.0]
307498     (842400.0, 1243350.0]
307499       (36490.5, 441450.0]
307500     (842400.0, 1243350.0]
307501       (36490.5, 441450.0]
307502       (36490.5, 441450.0]
307503       (36490.5, 441450.0]
307504       (36490.5, 441450.0]
307505       (36490.5, 441450.0]
307506       (36490.5, 441450.0]
307507       (36490.5, 441450.0]
307508      (441450.0, 842400.0]
307509       (36490.5, 441450.0]
307510      (441450.0, 842400.0]
Name: AMT_GOODS_PRICE, Length: 307511, dtype: category
Categories (10, interval[float64]): [(36490.5, 441450.0] < (441450.0, 842400.0] < (842400.0, 1243350.0] < (1243350.0, 1644300.0] ... (2446200.0, 2847150.0] < (2847150.0, 3248100.0] < (3248100.0, 3649050.0] < (3649050.0, 4050000.0]]

In [7]:
app_train["AMT_GOODS_PRICE"].value_counts()

(36490.5, 441450.0]       131712
(441450.0, 842400.0]      115261
(842400.0, 1243350.0]      43658
(1243350.0, 1644300.0]     12429
(1644300.0, 2045250.0]      3175
(2045250.0, 2446200.0]       933
(2446200.0, 2847150.0]        30
(2847150.0, 3248100.0]        17
(3649050.0, 4050000.0]        10
(3248100.0, 3649050.0]         8
Name: AMT_GOODS_PRICE, dtype: int64