# [作業目標]
- 仿造範例的 One Hot Encoding, 將指定的資料進行編碼

# [作業重點]
- 將 sub_train 進行 One Hot Encoding 編碼 (In[4], Out[4])

In [23]:
import os
import numpy as np
import pandas as pd

In [25]:
# 設定 data_path, 並讀取 app_train
dir_data = './data/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [26]:
print(sub_train.shape)
sub_train.head()

(307511, 1)

  OCCUPATION_TYPE
0        Laborers
1      Core staff
2        Laborers
3        Laborers
4      Core staff

In [28]:
"""
Your Code Here
"""
sub_train2 = pd.DataFrame(app_train['OCCUPATION_TYPE'])
app_train2 = pd.get_dummies(app_train)
print(app_train2.head())
print(sub_train2)

   SK_ID_CURR  TARGET  CNT_CHILDREN  AMT_INCOME_TOTAL  AMT_CREDIT  \
0      100002       1             0          202500.0    406597.5
1      100003       0             0          270000.0   1293502.5
2      100004       0             0           67500.0    135000.0
3      100006       0             0          135000.0    312682.5
4      100007       0             0          121500.0    513000.0

   AMT_ANNUITY  AMT_GOODS_PRICE  REGION_POPULATION_RELATIVE  DAYS_BIRTH  \
0      24700.5         351000.0                    0.018801       -9461
1      35698.5        1129500.0                    0.003541      -16765
2       6750.0         135000.0                    0.010032      -19046
3      29686.5         297000.0                    0.008019      -19005
4      21865.5         513000.0                    0.028663      -19932

   DAYS_EMPLOYED  ...  HOUSETYPE_MODE_terraced house  \
0           -637  ...                              0
1          -1188  ...                              0
2           -225  ...                              0
3          -3039  ...                              0
4          -3038  ...                              0

   WALLSMATERIAL_MODE_Block  WALLSMATERIAL_MODE_Mixed  \
0                         0                         0
1                         1                         0
2                         0                         0
3                         0                         0
4                         0                         0

   WALLSMATERIAL_MODE_Monolithic  WALLSMATERIAL_MODE_Others  \
0                              0                          0
1                              0                          0
2                              0                          0
3                              0                          0
4                              0                          0

   WALLSMATERIAL_MODE_Panel  WALLSMATERIAL_MODE_Stone, brick  \
0                         0                                1
1                         0                                0
2                         0                                0
3                         0                                0
4                         0                                0

   WALLSMATERIAL_MODE_Wooden  EMERGENCYSTATE_MODE_No  EMERGENCYSTATE_MODE_Yes
0                          0                       1                        0
1                          0                       1                        0
2                          0                       0                        0
3                          0                       0                        0
4                          0                       0                        0

[5 rows x 246 columns]
              OCCUPATION_TYPE
0                    Laborers
1                  Core staff
2                    Laborers
3                    Laborers
4                  Core staff
5                    Laborers
6                 Accountants
7                    Managers
8                         NaN
9                    Laborers
10                 Core staff
11                        NaN
12                   Laborers
13                    Drivers
14                   Laborers
15                   Laborers
16                    Drivers
17                   Laborers
18                   Laborers
19                 Core staff
20                   Laborers
21                Sales staff
22                Sales staff
23                        NaN
24                    Drivers
25             Cleaning staff
26              Cooking staff
27                   Laborers
28                        NaN
29                   Laborers
...                       ...
307481               Managers
307482               Managers
307483                    NaN
307484               Managers
307485            Sales staff
307486                    NaN
307487                    NaN
307488             Core staff
307489            Sales staff
307490               Laborers
307491                Drivers
307492            Sales staff
307493         Security staff
307494                Drivers
307495  High skill tech staff
307496          Cooking staff
307497            Sales staff
307498               Laborers
307499         Medicine staff
307500                    NaN
307501     Low-skill Laborers
307502               Laborers
307503             Core staff
307504            Sales staff
307505                    NaN
307506            Sales staff
307507                    NaN
307508               Managers
307509               Laborers
307510               Laborers

[307511 rows x 1 columns]